@keyframes fader {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

@media screen and (min-width: 1500px){
    .imageOne {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0;
    }
    
    .imageTwo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0;
    }
    
    .imageThree {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0;
    }
    
    .imageFour {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0;
    }
}

@media screen and (max-width: 1499px) {
    .imageOne {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        opacity: 0;
    }
    
    .imageTwo {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        opacity: 0;
    }
    
    .imageThree {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        opacity: 0;
    }
    
    .imageFour {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        opacity: 0;
    }
}


.currentImage {
    animation: 12s ease-in-out 0s 1 fader;
    animation-fill-mode: forwards;
}