.aboutCard {
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
  height: fit-content;
}
.personal {
  .name {
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.3em;
    margin: 0;
  }

  .title {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0;
  }
}

.description {
  letter-spacing: 0.05em;
  text-align: justify;
  p {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageWrapper {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  overflow: hidden;
  img {
    width: auto;
    height: 100%;
  }
}

.goldOutline {
  text-shadow: -0.5px -0.5px 0 gold, 0.5px -0.5px 0 gold, -0.5px 0.5px 0 gold,
    0.5px 0.5px 0 gold;
}

.limeOutline {
  text-shadow: -0.5px -0.5px 0 lime, 0.5px -0.5px 0 lime, -0.5px 0.5px 0 lime,
    0.5px 0.5px 0 lime;
}

.redOutline {
  text-shadow: -0.5px -0.5px 0 #ffb3b3, 0.5px -0.5px 0 #ffb3b3,
    -0.5px 0.5px 0 #ffb3b3, 0.5px 0.5px 0 #ffb3b3;
}

.blueOutline {
  text-shadow: -0.5px -0.5px 0 #b3daff, 0.5px -0.5px 0 #b3daff,
    -0.5px 0.5px 0 #b3daff, 0.5px 0.5px 0 #b3daff;
}

.purpleOutline {
  text-shadow: -0.5px -0.5px 0 #e0b3ff, 0.5px -0.5px 0 #e0b3ff,
    -0.5px 0.5px 0 #e0b3ff, 0.5px 0.5px 0 #e0b3ff;
}

.databricksOutline {
  text-shadow: -0.3px -0.3px 0 #ee3e30, 0.3px -0.3px 0 #ee3e30,
    -0.3px 0.3px 0 #ee3e30, 0.3px 0.3px 0 #ee3e30;
}

@media screen and (width < 1100px) {
  .aboutCard {
    width: 90vw;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .name,
  .title {
    text-align: center;
  }
}

@media screen and (width >= 1100px) {
  .aboutCard {
    grid-row: 1;
    grid-column: 1;
    width: 800px;
    display: grid;
    gap: 20px;
    grid-template-rows: 38px 196px 1fr;
    grid-template-columns: 160px 1fr;
    .imageWrapper {
      grid-row: 1 / 2;
      grid-column: 1 / 1;
    }
    .personal {
      grid-row: 1 / 1;
      grid-column: 2 / 2;
    }
    .description {
      grid-row: 2 / 3;
      grid-column: 2 / 2;
    }
  }
  .news {
    grid-row: 1;
    grid-column: 2;
  }
  .iconBar {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
}
