.container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: opacity 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover > * {
    transform: translateY(0);
}

@media screen and (min-width: 1730px) {
    .title {
        font-size: 30px;
        font-weight: 700;
    }
    
    .description {
        font-size: 24px;
        margin-top: 0.25em;
        width: 85%;
    }
}

@media screen and (max-width: 1729px) {
    .title {
        font-size: 24px;
        font-weight: 700;
    }
    
    .description {
        font-size: 18px;
        margin-top: 0.25em;
        width: 85%;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 1427px) {
    .title {
        font-size: 18px;
        font-weight: 700;
    }
    
    .description {
        font-size: 12px;
        margin-top: 0.25em;
        width: 85%;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 999px) {
    .title {
        font-size: 20px;
        font-weight: 700;
    }
    
    .description {
        font-size: 12px;
        margin-top: 0.25em;
        width: 85%;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}