.name {
  font-weight: 700;
  font-size: 6vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

}

.space {
    width: 1vw;
}

@keyframes popInOne {
    0% {
        opacity: 0;
        transform: scale(1.5, 1.5);
    }
    66% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes popInTwo {
    0% {
        opacity: 0;
        transform: scale(1.5, 1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes popInThree {
    0% {
        opacity: 0;
        transform: scale(1.5, 1.5);
    }
    33% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.letter {
    width: fit-content;
    margin: 1.5vw;
    overflow: visible;
}

.letter:nth-child(3n - 2) {
    animation: 1s cubic-bezier(0.1, -0.6, 0.2, 0) 0s 1 popInOne;
}

.letter:nth-child(3n - 1) {
    animation: 1s cubic-bezier(0.1, -0.6, 0.2, 0) 0s 1 popInTwo;
}

.letter:nth-child(3n) {
    animation: 1s cubic-bezier(0.1, -0.6, 0.2, 0) 0s 1 popInThree;
}

.homeWrapper {
  height: 100vh;
}