.logo {
  font-weight: 700;
  font-size: min(3vw, 30px);
  letter-spacing: 0.5em;
  position: relative;
}

.logo::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: -5px;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.1s linear;
}

.logo:hover::after {
  width: 100%;
  transition: width 0.2s linear;
}