.goldOutline {
  text-shadow: -0.5px -0.5px 0 gold, 0.5px -0.5px 0 gold, -0.5px 0.5px 0 gold,
    0.5px 0.5px 0 gold;
}

.limeOutline {
  text-shadow: -0.5px -0.5px 0 lime, 0.5px -0.5px 0 lime, -0.5px 0.5px 0 lime,
    0.5px 0.5px 0 lime;
}

.redOutline {
  text-shadow: -0.5px -0.5px 0 #ffb3b3, 0.5px -0.5px 0 #ffb3b3,
    -0.5px 0.5px 0 #ffb3b3, 0.5px 0.5px 0 #ffb3b3;
}

.blueOutline {
  text-shadow: -0.5px -0.5px 0 #b3daff, 0.5px -0.5px 0 #b3daff,
    -0.5px 0.5px 0 #b3daff, 0.5px 0.5px 0 #b3daff;
}

.purpleOutline {
  text-shadow: -0.5px -0.5px 0 #e0b3ff, 0.5px -0.5px 0 #e0b3ff,
    -0.5px 0.5px 0 #e0b3ff, 0.5px 0.5px 0 #e0b3ff;
}

.databricksOutline {
  text-shadow: -0.3px -0.3px 0 #ee3e30, 0.3px -0.3px 0 #ee3e30,
    -0.3px 0.3px 0 #ee3e30, 0.3px 0.3px 0 #ee3e30;
}

.aboutWrapper {
  min-height: 94vh;
  box-sizing: border-box;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  img {
    width: auto;
    height: 100%;
  }
}

.iconBar {
  padding: 10px;
  padding-bottom: 10px;
}

.card {
  box-sizing: border-box;
  background-color: white;
  padding: 50px;
  height: fit-content;
}

.imageWrapper {
  width: 180px;
  height: 230px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  overflow: hidden;
}

.profileShot {
  height: 400px;
  width: auto;
  margin-left: -40px;
}

.personal {
  .name {
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.3em;
    margin: 0;
  }

  .title {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0;
  }
}

.description {
  letter-spacing: 0.05em;
  text-align: justify;
  p {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 799px) {
  .card {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .name,
  .title {
    text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .card {
    width: 800px;
    display: grid;
    gap: 20px 40px;
    grid-template-rows: 38px 196px 1fr;
    grid-template-columns: 180px 1fr;
  }
  .imageWrapper {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }
  .personal {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
  }
  .description {
    grid-row: 2 / 3;
    grid-column: 2 / 2;
  }
}
