.page {
  min-height: 94vh;
  box-sizing: border-box;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.mainContent {
  display: flex;
  gap: 40px;
}

@media (width < 1100px) {
  .mainContent {
    flex-direction: column;
    align-items: center;
  }
}

